<% layout('layouts/boilerplate') %>
    <script>   const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
    </script>
    <div id="map" style="width: 100%; height: 300px;" class="mt-2"></div>
    <!-- <div id="searchWrapper" class="container d-flex justify-content-center align-items-center m-2 p-0">
        <input class="d-flex container m-0 p-0" type="text" placeholder="Search for a Campground" />
    </div>
    <ul class="list-group" id="list"></ul> -->
    <div class="container d-block justify-content-center align-items-center m-auto p-2">
        <div class="input-group">
            <div class="form-outline container" name="searchBar" id="searchBar">
                <label class="form-label fs-3 text-white d-flex m-auto justify-content-center align-items-center"
                    for="form1">Search Campground</label>
                <input type="search" id="form1" class="form-control fs-7"
                    placeholder="Type the campground name or location" />
            </div>
            <!-- <button type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button> -->
        </div>
        <div class="input-group d-block justify-content-center align-items-center m-auto">
            <ul class="list-group" id="list"></ul>
        </div>
    </div>

    <div class="d-flex justify-content-center align-items-center fs-3 text-light mt-4 fw-bold">
        <p><u>Explore Campgrounds</u> </p>
    </div>
    <% for(let campground of campgrounds) { %>
        <div class=" card mb-3 text-white bg-dark p-2">
            <div class="row">
                <div class="col-md-4 d-flex justify-content-center">
                    <img src="<%=campground.images[0].url%>" alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title fs-1">
                            <%=campground.title%>
                        </h3>

                        <p class="card-text fs-5 mt-4">
                            <%= campground.description %>
                        </p>
                        <p class="card-text fs-4 mt-3">
                            <small class="text-muted"><i class="fa-solid fa-location-dot"></i>
                                <%= campground.location%>
                            </small>
                        </p>
                        <a href="/campgrounds/<%=campground._id %>" class="btn btn-primary fs-5 m-1 bg-light text-body">
                            Check Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
            <script>
                const Campgrounds = '{"type": "FeatureCollection", "features": <%-JSON.stringify(campgrounds)%>}';
                // console.log(Campgrounds);

            </script>
            <script src="/javascript/clusterMap.js"></script>
            <script src="/javascript/searchBar.js"></script>